/* Commentaire*/


/* Normalize*/
*{
	padding: 0;
	margin: 0;
}

/* mettre photo pour fond */
body {
	background-image: url(/home/plnguyen/Code/assets/paper.png);
}


#first_text{
	text-align: center;	
	background-color: #33ff66;
	padding: 20px 50px;
	/* border-width: 2;	*/

}
nav{
	/*text-align: center;*/
	background-color: green;
	overflow: hidden;
	/* overflow : efface les déborbdement */


}
nav a{
	color: blanchedalmond;
	padding: 14px 20px;
	/*text-align: center;*/
	text-decoration: none;
	/*display: block;*/
}

nav a.menu_left{
	float:  left;

}
nav a.menu_right{
	float:  right;

}
nav a:hover {
	background-color: #EEE;
	color: red;

}

ol{
	margin: 20px;
	padding: 5px 15px;
}

ul{
	margin: 20px;
	padding: 5px 15px;

}
table{
	margin: 20px;
	padding: 5px 15px;

}
a.link_social{
		margin: 20px;
	padding: 5px 15px;	


}
/* #resume li{
	text-align: center;

}	

#contact{
	padding: 10px 10px;

}
#education{
	padding: 10px 10px;

}#score{
	padding: 10px 10px;

}
#social{
	padding: 10px 10px;

} */
